mnist_lr/mnist/logs/*.log
mnist_minibatch/mnist/logs/*.log
mnist_lr/dqn/mnist.t7/
mnist_minibatch/dqn/mnist.t7/
tmp/
mnist_minibatch/dqn/logs/*.log
mnist_minibatch/dqn/logs/*.pdf
mnist_lr/mnist/mnist.t7/
mnist_minibatch/mnist/mnist.t7/
mnist_minibatch/dqn/logs/paint.py
